.content {
  max-width: 67.5rem;
  margin-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .content_inner {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}
