@import url("variables.css");

.header {
  padding-top: 1rem;
}

.header_logo {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.header_logo_icon {
  display: block;
}

.header_logo_name {
  display: inline-block;
  width: 100%;
  max-width: 15rem;
  text-decoration: none;
}

@media (min-width: 60em) {
  .header {
    float: left;
    padding: 1rem 2rem 2rem 3rem;
    width: auto;
  }

  .header_logo_name {
    max-width: 20rem;
  }
}
