@import url("variables.css");

.header {
  float: left;
  padding: 1rem;
  width: 8rem;
}

.header_logo {
  position: relative;
  display: block;
  max-width: 11rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.header_logo_icon {
  display: block;
}

.header_logo_name {
  display: inline-block;
  height: 5rem;
  text-decoration: none;
}

@media (min-width: 48em) {
  .header {
    float: left;
    padding: 1rem 2rem 2rem 3rem;
    width: auto;
  }

  .header_logo_name {
    font-size: 1.5rem;
  }
}
